
$navbar-color: #85b0ff;
$theme-color: #85b0ff;
$assist-color: #85b0ff;
$deep-color: #5e81c2;
$emphasize-color: #ff7944;
$emphasize-tow-color: #f700a8;
$text-color: #ffffff;

// 3d-button
$bg: #fff;
$text: #000000;
$light-blue: #f0f8ff;
$blue: #e9f7ff;
$dark-blue: #c4e1f9;
$blue-border: #85a8b1;
$blue-shadow: #e2f1ff;
